.row {
	display: flex;
	flex-direction: row;

	&--stretch {
		align-items: center;

		@media screen and (min-width: $breakpoint-tablet-small) {
			align-items: stretch;
		}
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--center {
		align-items: center;
	}
}

.is-grow {
	flex-grow: 1;
}