//
// Variables
//

//Colors
$black: #262323;
$white: #ffffff;
$grey: #e0e0e0;
$medium-grey: #414141;
$dark-grey: #2B2B2B;
$darkest-grey: #141414;

$c-dark: #117c6f;
$c-darkmedium: #289c8e;
$c-medium: #2fc4b2;
$c-lightmedium: #8de5d8;
$c-light: #b2f0e8;

//Transition
$normal-transition-time: 0.2s;
$default-ease: ease;

//Spacing
$spacing-xl: 120px;
$spacing-l: 80px;
$spacing-m: 40px;
$spacing-ms: 30px;
$spacing-s: 20px;
$spacing-xs: 10px;
$spacing-xxs: 5px;

//Breakpoints
$breakpoint-mobile: 420px;
$breakpoint-tablet-small: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop-small: 960px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop-large: 1440px;
$breakpoint-desktop-extra-large: 1600px;
