@import url(https://fonts.googleapis.com/css?family=Poiret+One&display=swap);@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

body.dark {
  background-color: #414141;
}

main {
  flex-grow: 1;
}

a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background-color: transparent;
}

/*--------------------------------------------------------------
shadow
--------------------------------------------------------------*/

/*--------------------------------------------------------------
gradient
--------------------------------------------------------------*/

/*--------------------------------------------------------------
pseudo
--------------------------------------------------------------*/

/*--------------------------------------------------------------
grid
--------------------------------------------------------------*/

/*--------------------------------------------------------------
transition
--------------------------------------------------------------*/

.ctn--image img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Code Pro", monospace;
  letter-spacing: 2px;
  text-transform: lowercase;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1.is-white,
h2.is-white,
h3.is-white,
h4.is-white,
h5.is-white {
  color: #ffffff;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 25px;
  padding: 20px 0;
}

h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

h4 {
  font-size: 18px;
  padding: 15px 0;
  text-transform: uppercase;
  word-break: break-word;
}

h5 {
  font-size: 16px;
  padding: 0 0 10px 0;
  width: 100%;
}

.hidden {
  display: none;
}

.link {
  border-bottom: 1px #2fc4b2 solid;
  line-height: 1;
  display: inline-block;
}

.link:hover {
  border-bottom: 1px #289c8e solid;
}

.ctn-image img {
  width: 100%;
  height: auto;
}

.grid {
  padding: 0 10px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .grid {
    padding: 0;
  }
}

.accent__block {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  position: relative;
  background-color: #2fc4b2;
}

.profile {
  background-color: #b2f0e8;
  width: 400px;
  padding: 20px 40px;
  margin-right: 50px;
  text-align: center;
}

.profile__bkg {
  content: "";
  display: block;
  position: absolute;
  background-color: #8de5d8;
  height: 100%;
  width: 40%;
  z-index: -9;
}

.profile__grid {
  margin-top: 100px;
  margin-bottom: 100px;
}

.profile__image {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row--stretch {
  align-items: center;
}

@media screen and (min-width: 640px) {
  .row--stretch {
    align-items: stretch;
  }
}

.row--wrap {
  flex-wrap: wrap;
}

.row--center {
  align-items: center;
}

.is-grow {
  flex-grow: 1;
}

