@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;

800&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;800&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

body.dark {
  background-color: #414141;
}

main {
  flex-grow: 1;
}

a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background-color: transparent;
}

/*--------------------------------------------------------------
shadow
--------------------------------------------------------------*/

/*--------------------------------------------------------------
gradient
--------------------------------------------------------------*/

/*--------------------------------------------------------------
pseudo
--------------------------------------------------------------*/

/*--------------------------------------------------------------
grid
--------------------------------------------------------------*/

/*--------------------------------------------------------------
transition
--------------------------------------------------------------*/

.ctn--image img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 2px;
  text-transform: lowercase;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1.is-white,
h2.is-white,
h3.is-white,
h4.is-white,
h5.is-white {
  color: #ffffff;
}

h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

h2 {
  font-size: 25px;
  padding: 20px 0;
}

h3 {
  font-size: 20px;
  padding-bottom: 20px;
}

h4 {
  font-size: 18px;
  padding: 15px 0;
  text-transform: uppercase;
  word-break: break-word;
}

h5 {
  font-size: 16px;
  padding: 0 0 10px 0;
  width: 100%;
}

.hidden {
  display: none;
}

.link {
  border-bottom: 1px #2fc4b2 solid;
  line-height: 1;
  display: inline-block;
}

.link:hover {
  border-bottom: 1px #289c8e solid;
}

.ctn-image img {
  width: 100%;
  height: auto;
}

.grid {
  padding: 0 10px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: relative;
  padding: 0 10px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 10px;
}

.header .nav__bar {
  list-style: none;
  display: flex;
  font-size: 16px;
  align-items: center;
}

.header .nav__item {
  padding: 10px 20px;
  text-transform: uppercase;
}

.header .nav__item:last-child {
  padding-right: 0;
}

.header .nav__link {
  position: relative;
}

.header .nav__link.active {
  color: #289c8e;
}

.header .nav__link:hover:after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #289c8e;
}

@media screen and (min-width: 420px) {
  .header {
    height: 60px;
  }
}

.footer {
  position: relative;
  padding: 0 10px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  padding-top: 20px;
  font-size: 14px;
}

@media screen and (min-width: 640px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 80px;
  }
}

.footer__section {
  margin: 10px 0;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .footer__section {
    margin: 0 20px;
  }
}

.footer__title {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
}

.footer__text {
  font-size: 12px;
}

.footer .logo {
  margin-top: 10px;
}

.footer .logo span {
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  .footer .logo {
    margin-top: 0;
  }
}

.accent__block {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 10px;
  background-color: #2fc4b2;
  flex-shrink: 0;
}

.logo {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
}

.logo span {
  font-weight: 400;
  font-size: 14px;
}

.hr {
  border: none;
  border-top: 2px solid #2fc4b2;
  width: 100px;
  margin: 20px auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.row--stretch {
  align-items: center;
}

@media screen and (min-width: 640px) {
  .row--stretch {
    align-items: stretch;
  }
}

.row--wrap {
  flex-wrap: wrap;
}

.row--center {
  align-items: center;
}

.is-grow {
  flex-grow: 1;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #262323;
  margin: 0 10px;
}

.icon.is-heart {
  fill: #289c8e;
  margin-left: 0;
  flex-shrink: 0;
}

.socials {
  justify-content: center;
  background-color: #ffffff;
  padding: 10px 40px;
}

button {
  -webkit-appearance: none;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 2px;
}

.btn,
.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 10px 0;
  padding: 15px 40px;
  border-radius: 50px;
  border: 1px solid #2fc4b2;
  background-color: #2fc4b2;
  color: #ffffff;
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.btn.is-icon,
.button.is-icon {
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background-color: transparent;
  transform: scale(1);
}

.btn.is-icon:hover,
.button.is-icon:hover {
  background-color: transparent;
  transform: scale(1.2);
}

.btn.is-small,
.button.is-small {
  height: 40px;
  font-size: 14px;
  padding: 12px;
  min-width: 200px;
  width: 200px;
}

.btn:before,
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.btn:after,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4), transparent);
  transition: 0.5s;
}

.btn:hover:after,
.button:hover:after {
  left: 100%;
}

.profile {
  background-color: #d5fffa;
  width: 100%;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: -5px 2px 20px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  .profile {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    width: 45%;
    margin-right: 50px;
  }
}

.profile__bkg {
  content: "";
  display: block;
  position: absolute;
  background-color: #8de5d8;
  height: calc(100% - 275px);
  width: 35%;
  z-index: -9;
}

@media screen and (min-width: 640px) {
  .profile__bkg {
    height: calc(100% - 140px);
  }
}

.profile__grid {
  padding: 0 10px;
  max-width: 690px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media screen and (min-width: 640px) {
  .profile__grid {
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 100px;
    min-height: calc(100vh - 350px);
  }
}

.profile__image {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 20px auto;
}

.profile__name {
  font-size: 18px;
}

.profile__name p:first-child {
  margin-bottom: 10px;
}

.profile__name p:last-child {
  text-transform: uppercase;
}

.profile__title {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 30px;
}

@media screen and (min-width: 640px) {
  .profile__title {
    margin-bottom: 0;
  }
}

.intro__text {
  padding-bottom: 20px;
}

