.header {
	position: relative;

	@include grid();
	display: flex;
	align-items: center;
	padding: $spacing-xs;

	@import 'nav';

	@media screen and (min-width: $breakpoint-mobile) {
		height: 60px;
	}
}

